*{
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.content{
  display: grid;
  width:100vw;
  height: 100vh;
  grid-template-columns: repeat(4,1fr);

  grid-template-areas:
  "header header header header"
  "main text text main2"
  "main text text main2"
  "main submit submit main2";

}

.header{
  grid-area: header;
  background: pink;
}
.main{
  grid-area: main;
  background: purple;
}
.text{
  grid-area: text;
  background-color: green;
}
.form {
  grid-area: submit;
  background-color: yellow;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-template-areas:
  ". . . ."
  ". name otherName ."
  ". . . .";
}
.main2{
  grid-area: main2;
  background-color: grey;
}

.input{
grid-area: name;
height: 24px;
-webkit-box-shadow: -8px 2px 8px -5px rgba(0,0,0,0.75);
-moz-box-shadow: -8px 2px 8px -5px rgba(0,0,0,0.75);
box-shadow: -8px 2px 8px -5px rgba(0,0,0,0.75);
}
.submit{
grid-area: otherName;
margin-left: 10px;
height:30px;
-webkit-box-shadow: -8px 2px 8px -5px rgba(0,0,0,0.75);
-moz-box-shadow: -8px 2px 8px -5px rgba(0,0,0,0.75);
box-shadow: -8px 2px 8px -5px rgba(0,0,0,0.75);
}
