.header{
  grid-area: header;
  background: purple;
}
.main{
  grid-area: main;
  background: purple;
}
.text{
  grid-area: text;
  background-color: green;
}
.submit {
  grid-area: submit;
  background-color: yellow;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-template-areas:
  ". . . ."
  ". yes no ."
  ". . . .";
}
.main2{
  grid-area: main2;
  background-color: grey;
}
#input{
grid-area: no;
background-color: blue;
}
#submit{
grid-area: yes;
background-color: green;
}

.content{
  display: grid;
  width:100vw;
  height: 100vh;
  grid-template-columns: repeat(4,1fr);
  grid-template-areas:
  "header header header header"
  "main text text main2"
  "main text text main2"
  "main submit submit main2";

}

#top {
  display: grid;
}
